/* Place Your Custom Styles Here */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
.tc-text {
  font-family: "Noto Sans TC", sans-serif;
}
.tc-text-red {
  color: red;
}
.tc-text-typo {
  font-size: large;
}
.div-line {
  border-right: 5px solid #ffffff;
}

.div-line-sm{
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
}
.div-line-side{
    border-left: 3px solid #ffffff;
}
.border-top-color{
    border-color: #ffffff;
}
.button-border{
    border: 1px solid;
}
/* .site-footer .socials-container{
    background: #ffffff50;
} */
